/* Eliminar márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegurar que el html y el body ocupen todo el alto */
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* evita desbordamiento horizontal */
}

#app,
#VistaMovil {
  width: 100%;
  max-width: 430px;    /* límite de ancho en px */
  margin: 0 auto;      /* lo centra en pantallas más grandes */
  box-sizing: border-box;
}

.modal-card{
  max-width: 430px;
}

@media only screen and (max-width: 499px){
  /* MOVIL */
  #VistaMovil {
    background-image: url(../assets/img/ZZOtros/BG-App-AH-Home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
  }

  #VistaNoValida {
    display: none;
  }
}